body {
  background-color: #f7f8a6;
  text-align: center;
  margin: 10px;
}
h1 {
  color: #f7f8a6;
  background-color: orangered;
}
.contact-link a {
  color: rgb(85, 2, 6);
  margin: 0 10px;
}
img {
  max-width: 70%;
  border-radius: 10px;
}
